<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.git.amarradi.palatschinkencounter">
    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_psc_512_transparent"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_psc_512_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.git.amarradi.palatschinkencounter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:roundIcon="@drawable/logo_psc_512_transparent"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangelogActivity"
            android:exported="true"
            android:label="@string/changelogActivity"
            android:parentActivityName=".MainActivity"
            android:roundIcon="@drawable/logo_psc_512_transparent"/>
        <activity
            android:name=".SettingActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:roundIcon="@drawable/logo_psc_512_transparent" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"
            android:roundIcon="@drawable/logoswsplash" />
        <activity
            android:name=".RecipeActivity"
            android:label="@string/txt_menu_item_recipe"
            android:parentActivityName=".MainActivity"
            android:roundIcon="@drawable/logo_psc_512_transparent" />
    </application>

</manifest>